.App {
  font-family: 'Roboto', sans-serif;
  padding: 2% 7% 5% 7%;
}

header {
  margin-bottom: 20px;
}

#OCName {
  padding-right: 60%;
}
.nav-bar {
  list-style: None;
  display: flex;
  box-shadow: 0px 2px rgb(0 0 0 / 10%);
}

.StartVis {
  margin-top: 100px;
}
#btn-startvis {
  margin: 25px auto;
  display: flex;
}

.App {
  

  display:flex;
  flex-direction: column;
  padding:5rem;
  }
  
  .title{
    text-transform: uppercase;
    align-self: center;
    margin-bottom:8rem;
    font-size:4vw;
  }

  
  
  .scrollbar-track{
    background-color: transparent !important;
  }
  
  .scrollbar-track-y{
    width:12px !important;
  }
  
  
  .scrollbar-thumb{
    width:12px !important;
    background-color: black !important;
    border-radius: 0 !important;
  }
  .sections {
    min-height: 100vh;
    margin-top: 50px;
    border-style: dotted;
  }

.sections > .row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
  .header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
  }
  
  li {
    cursor: pointer;
  }

